<div class="container-fluid">
  <div class="row d-flex justify-content-between">
    <div class="col-2">
      <img src="../../../assets/logo.png" class="img-fluid" alt="">
    </div>
    <div class="col-6">
    </div>
    <div class="col-4">
      Boulevard de la Republique <br>
      Tel: +25321354802 <br>
      Email: contact@laposte.dj <br>
      Site web: www.laposte.dj
    </div>
  </div>
  <div class="border-bottom"></div>
  <div class="col-12 text-center mt-2 mb-2">
    <span class="display-4">RECU</span>
  </div>
  <div class="row name border mt-5 mb-5">
    <div class="col-2 text-right">
      <ul class="list-group">
        <li class="list-group-item font-weight-bold">
          Client:
        </li>
        <li class="list-group-item font-weight-bold">
          BP:
        </li>
      </ul>
    </div>
    <div class="col-6 text-left">
      <ul class="list-group">
        <li class="list-group-item font-weight-bold">
          Ashraf Mohamed Aden
        </li>
        <li class="list-group-item font-weight-bold">
          5
        </li>
      </ul>
    </div>
    <div class="col-4 text-right">
      <ul class="list-group">
        <li class="list-group-item font-weight-bold">
          Djibouti, le 10 Aout 2020
        </li>
        <li class="list-group-item font-weight-bold">
          Reçu N° 234567
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="col-9">Designation</th>
            <th scope="col">Montant</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Redeveance 2020</td>
            <td>10000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
