<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item">Paiement effectué le : {{payment?.createdAt}}</li>
      <li class="list-group-item">Par : {{staff?.name}}</li>
      <li class="list-group-item">Pour l'année : {{payment?.date}}</li>
      <li class="list-group-item"> Liste des forfaits: <span *ngIf="forfaits.length===0">Aucun forfait</span>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let forfait of forfaits">
            <span class="mr-5">{{forfait?.name}}</span> <span>{{forfait?.price}}fDJ </span>
          </li>
        </ul>
      </li>
      <li class="list-group-item">Total : {{payment?.total}}</li>
    </ul>
  </div>
  <div class="col-12 mt-5 d-flex justify-content-around">
    <button class="btn btn-group btn-danger" (click)="cancelPayment()" *ngIf="isSuperviseur || hasPower">Annuler le
      paiement</button>
      <button class="mt-5 align-content-center" [routerLink]="[ '/receipt/' + id]">Recu</button>
  </div>
</div>
