<div class="row">
  <div class="col-12 col-md-6 p-2 t">
    <div class="card client-card">
      <div class=" card-header text-light bg-info">
        <h1>Clients</h1>
      </div>
      <div class="card-body">
        <ul class=" list-group">
          <li class=" list-group-item ">Nombre de clients: </li>
          <li class=" list-group-item">Nombre de resilier: </li>
          <li class=" list-group-item">Augmentation de clients annuelle: %</li>
        </ul>
      </div>
    </div>
  </div>
   <div class="col-12 col-md-6 p-2">
     <div class="card boite-card">
       <div class=" card-header boite-header">
         <h1>Boites Postales</h1>
       </div>
       <div class="card-body">
         <ul class=" list-group">
           <li class=" list-group-item">Nombre de boites postales: </li>
           <li class=" list-group-item">Nombre de boites postales actives: </li>
           <li class=" list-group-item">Nombre de boites postales inactives: </li>
         </ul>
       </div>
     </div>
   </div>
   <div class="col-12 col-md-6 p-2">
     <div class="card compt-card border-danger">
       <div class=" card-header compt-header text-light bg-danger">
         <h1>Comptabilité</h1>
       </div>
       <div class="card-body">
         <ul class=" list-group">
           <li class=" list-group-item">Nouveaux clients: </li>
           <li class=" list-group-item">Revenues mensuelles: </li>
           <li class=" list-group-item">Revenues annuelles: </li>
         </ul>
       </div>
     </div>
   </div>
</div>
