<div class="row">
  <div class="col-sm-12 col-md-8" *ngIf="boites.length>=1">
    <div class="card">
      <h4 class="card-header">Boites postales</h4>
      <div class="card-body menuB" *ngIf="isAgent || isSuperviseur || hasPower">
        <button mat-raised-button class="btn btn-success btn-sm " routerLink="/addBP">
          Ajouter une boite postale
        </button>
      </div>
      <div class="form-check-inline card-body">
        <input class="form-control" [(ngModel)]="searchBoite" type="number" placeholder="12345"
          aria-label="Rechercher" />
        <button class="btn btn-outline-success" type="submit" [disabled]="searchBoite.length == 0" (click)="search()">
          Rechercher
        </button>
        <button class="btn btn-outline-danger" [disabled]="searchBoite.length == 0" (click)=" this.initForm()">
          Effacer
        </button>
      </div>
      <div *ngIf="searchResults">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let boite of boiteSearch; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ boite.boiteNumber }}</td>
              <td>
                <button (click)="details(boite.idBoite)" class="btn btn-group btn-outline-primary">
                  Consulter
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <button class="btn btn-group btn-danger" *ngIf="errorMessage">
          Cette boite n'existe pas
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-10">
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
    </mat-paginator>
  </div>
  <div class="col-sm-12 col-md-10" *ngIf="boites.length>=1">
    <div class="example-container mat-elevation-z8 card-body">
      <mat-table [dataSource]="datasource" matSort>
        <!-- Progress Column -->
        <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Numero
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.boiteNumber }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Type
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ row.boiteType }} </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Action
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button (click)="details(row.idBoite)" class="btn btn-group btn-outline-primary">
              Consulter
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
      </mat-table>
    </div>
  </div>
</div>
<div class="loading" *ngIf="boites.length<1">
  <mat-spinner color="warning"></mat-spinner>
</div>
