<div class="wrapper">
  <mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer mode="over" class="sidebar">
      <div class="" data-color="white" data-active-color="danger">
        <app-sidebar (closed)="drawer.toggle()"></app-sidebar>
      </div>
    </mat-drawer>
    <mat-drawer-content class=" border mainPanel">
      <div class="container-fluid mb-5 bg-white">
        <app-navbar (toggled)="drawer.toggle()"></app-navbar>

      </div>
      <div class="content container">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
