<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-4 text-right">
      <fa-icon [icon]="faTimes" (click)="close()" class="remove btn mr-2 p-1"></fa-icon>
      <div class="logo d-flex menu align-items-center">
        <img width="70" class="img-fluid mr-2" src="assets/logo.png">
        <span class="h2">𝕃𝕒 ℙ𝕠𝕤𝕥𝕖</span>
      </div>
    </div>
    <div class="col-12">
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="col-12">
      <mat-list>
        <mat-mat-list-item class="nav-item" *ngIf="isAuth">
          <a class="d-flex menu align-items-center mb-3">
            <img src="../../../assets/agent.png" width="30" alt="">
            <span class="agent">{{staff?.name}} </span>
          </a>
        </mat-mat-list-item>
        <mat-list-item class="nav-item" *ngIf="!isAuth">
          <a routerLink="/login" class="d-flex menu" (click)="close()">
            <fa-icon [icon]="faSignIn" class="mr-2"></fa-icon>
            <p>Se connecter</p>
          </a>
        </mat-list-item>
        <mat-list-item class="nav-item" *ngIf="isAuth">
          <a routerLink="/profil" class="d-flex menu" (click)="close()">
            <fa-icon [icon]="faCog" class="mr-2"></fa-icon>
            <p>Mon profil</p>
          </a>
        </mat-list-item>
        <mat-list-item class="nav-item" *ngIf="isAuth">
          <a class="d-flex text-danger" style="cursor: pointer;" (click)="logout()">
            <fa-icon [icon]="faSignOut" class="mr-2"></fa-icon>
            <p>Se deconnecter</p>
          </a>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="col-12">
      <mat-divider class="divider"></mat-divider>
    </div>
    <div class="col-12" *ngIf="isAuth">

      <mat-list>
        <mat-list-item *ngFor="let menuItem of standard" class="{{menuItem.class}}">
          <a [routerLink]="[menuItem.path]" class="d-flex menu" (click)="close()">
            <fa-icon [icon]=" menuItem.icon" class="mr-2 {{menuItem.class}}"></fa-icon>
            <p>{{menuItem.title}}</p>
          </a>
        </mat-list-item>

        <mat-list-item *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
          <a [routerLink]="[menuItem.path]" class="d-flex menu" (click)="close()"
            *ngIf="hasPower === menuItem.hasPower || isSuperviseur === menuItem.isSuperviseur || isVisiteur === menuItem.isVisiteur">
            <fa-icon [icon]=" menuItem.icon" class="mr-2 {{menuItem.class}}"></fa-icon>
            <p>{{menuItem.title}}</p>
          </a>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
