.divider {
  border: #FFEB3B solid 1px;
}
.remove {
  position: absolute;
  z-index: 2;
}
.logout {
    color: #0c3da2;
}

.menu {
  color: #0c3da2;

}
.agent {
    color: #0c3da2;
    font-size: large;
}
