<div class="row">
  <div class="col-md-8">
    <div class="card border-info">
      <h4 class="card-header">Ajouter une boite postale</h4>
      <div class="card-body">
        <form [formGroup]="boiteForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group ">
                <mat-form-field class=" form-group border-right border-left border-dark rounded">
                  <input matInput formControlName="number" placeholder="Numero de la boite" type="text" />
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Type de boite</label>
                <mat-form-field class="form-group border  border-dark rounded">
                  <mat-select matInput formControlName="type" name="type" id="type">
                    <mat-option value="petit">PETIT</mat-option>
                    <mat-option value="moyen">MOYEN</mat-option>
                    <mat-option value="grand">GRAND</mat-option>
                    <mat-option value="special">SPECIAL</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <button mat-raised-button type="submit" class="btn-group btn-outline-primary" [disabled]="boiteForm.invalid">
            Creer une boite
          </button>
          <div class="clearfix"></div>
        </form>
        <p class="text-danger">{{ errorMessage }}</p>
      </div>
    </div>
  </div>

</div>
