<div class="row d-flex justify-content-between">
  <div class=" col-12 col-md-5 rounded border" *ngIf="!modify">
    <h2>
      <fa-icon [icon]="faBox"></fa-icon>
      Information sur la boite
    </h2>
    <div class="card-body">
      <mat-nav-list>
        <mat-list-item> Numero: {{ boite?.number }}</mat-list-item>
        <mat-list-item> Type: {{ boite?.boiteType }} </mat-list-item>
        <mat-list-item> Prix: {{ boite?.price }} Fdj</mat-list-item>
        <mat-list-item *ngIf="boite?.enabled"> Statut: Actif</mat-list-item>
        <mat-list-item *ngIf="!boite?.enabled"> Statut: Indisponible</mat-list-item>

      </mat-nav-list>

    </div>
  </div>
  <div class=" col-12 col-md-5 rounded border" *ngIf="modify">
    <h2>
      <fa-icon [icon]="faBox"></fa-icon>
      Modifier la boite
    </h2>
    <div class="card-body">
      <mat-nav-list>
        <mat-list-item class="card-header text-center">
          <span>Numero: </span><input type="text" [value]="boite?.number">
        </mat-list-item>
        <mat-list-item> Type: <input type="text" [value]="boite?.type"></mat-list-item>
      </mat-nav-list>

    </div>
  </div>
</div>
<mat-divider class="mt-2 mb-2"></mat-divider>

<div class="row">
  <div class="col-12">
    <h2>
      <fa-icon [icon]="faUser"></fa-icon>
      Historique des locataires
    </h2>
    <div class="table">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Attribuer le</th>
            <th scope="col">Resilier le</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let boite of boites">
            <th scope="row">1</th>
            <td>{{boite?.clientName}}</td>
            <td>{{boite?.startDate}}</td>
            <td *ngIf="boite.releaseDate">{{boite?.releaseDate}}</td>
            <td *ngIf="!boite.releaseDate">Non resilié</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
