<div class="row d-flex justify-content-between">
  <div class=" col-12 col-md-5 rounded border" *ngIf="!modify">
    <h2>
      <fa-icon [icon]="faBox"></fa-icon>
      Information sur la boite
    </h2>
    <div class="card-body">
      <mat-nav-list>
        <mat-list-item> Numero: {{ boite?.number }}</mat-list-item>
        <mat-list-item> Type: {{ boiteclients[0]?.boiteType }} </mat-list-item>
        <mat-list-item *ngIf="boite?.enabled"> Statut: Active</mat-list-item>
        <mat-list-item *ngIf="!boite?.enabled"> Statut: Inactive</mat-list-item>

      </mat-nav-list>

    </div>
  </div>
  <div class=" col-12 col-md-5" *ngIf="hasPower || isSuperviseur">

    <button class="btn btn-danger" (click)="libererBoite()"
      *ngIf="boiteclients[0]?.enabled && boiteclients[0]?.status === 'Resilié'">Liberer
      la boite et resilier le
      client</button>
  </div>
</div>
<mat-divider class="mt-2 mb-2"></mat-divider>

<div class="row">
  <div class="col-12">
    <h2>
      <fa-icon [icon]="faUser"></fa-icon>
      Historique des locataires
    </h2>
    <div class="table">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Attribuer le</th>
            <th scope="col">Etat</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let boite of boiteclients; let i = index">
            <th scope="row">{{i+1}}</th>
            <td><a [routerLink]="[ '/client/'+ boite.idClient]">{{boite?.clientName}}</a></td>
            <td>{{boite?.createdAt}}</td>
            <td *ngIf="boite.releaseDate">{{boite?.releaseDate}}</td>
            <td *ngIf="!boite.enabled">Resilié</td>
            <td *ngIf="boite.enabled">Non resilié</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
